
.box1{
    height: 600px;
    width: 600px;
    background-color: aqua;
    position:relative;
    /* top:150px ;
    left: 150px; */
    
    
}
.box2{
    height: 300px;
    width: 300px;
    background-color: red;
    position: absolute;
    top: 150px;
    left: 150px;
    /* top: calc(50%-150px);
    left: calc(50%-150px); */
    
}